<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "https://socket.io/socket.io.js"></script>
    <title><%=currApp.title%></title>
</head>
<body>
    
        
    <center><h1><%=currApp.title%></h1></center>
   <center><img src= <%= currApp.image %> ></center>
    <pre>
        
    <center>
        <button id = "btn_download">Download</button>
    </center>
    <pre>
    <center><h1>Description</h1></center>
    <center>
        <p><%=currApp.para%></p>
    </center>
    <script type="text/javascript">
        $("#btn_download").click(function(){
            //TODO 1
            // Change the app name according to the page
            window.open('/download/AnyDesk.exe');
        })
    </script>
</body>
</html>